# Node modules
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db